html,
body {
    height: 100%;
}

.jumbotron {
    height: 100%;
}

#contact {
    background-image: url(../img/contact_bg.JPG);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-default .navbar-nav > .active {
    color: #fff;
    background: #d65c14;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background: #212121;
}

.resume {
    text-align: left
}

.resumeBullets {
    text-align: left;
}


/*
.Area {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
}
*/

h2 {
    color: #FF9933;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #FF9933;
    background: rgba(120, 120, 120, 0.6);
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-social i {
    color: #fff;
}

a {
    color: grey !important;
}

p a {
    color: #FF9933 !important;
}

a:hover {
    color: #FF9933 !important;
}

i {
    transition: all .2s ease-in-out;
}

i:hover {
    transform: scale(1.1);
    color: #FF9933;
}

.headshot {
    margin-top: 5em;
}

.filtr-item {
    padding: 1rem;
}

.item-desc {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    padding: .5rem;
    padding-left: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

.center-block ul {
    position: relative;
    left: 50%;
    float: left;
    margin-right: 0;
    margin-left: 0;
}

.center-block li {
    position: relative;
    right: 50%;
    float: left;
    margin: 0;
    list-style: none
}


/* Filter controls */

.simplefilter li,
.multifilter li,
.sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
    margin-bottom: .3rem;
}

.simplefilter li {
    background-color: #585858;
}

.simplefilter li.active {
    background-color: #212121;
}

.multifilter li {
    background-color: #4b9eff;
}

.multifilter li.active {
    background-color: #2265b4;
}

{
    "delay": 25,
    "filterOutCss": {
        "opacity": 0, "transform": "scale(0.75)"
    }
    ,
    "filterInCss": {
        "opacity": 1, "transform": "scale(1)"
    }
}

.coming-soon {
    pointer-events: none;
    opacity: 0.3;
    filter: alpha(opacity=40);
}